<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Excel文件转换小工具</title>

<meta charset=”utf-8” />

<link rel="stylesheet"
	href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<h3>欢迎使用Excel文件转换小工具</h3>

		</div>

		<form action="upload" method="POST" enctype="multipart/form-data">
			<div class="row">
				源文件：<input type="file" name="file"/>
			</div>
			<div class="row">
				头寸日报系统原始表样数据日期：<input type="text" id="srcDate" name="srcDate" value="20181120" th:value="${curDate}"/>
			</div>
			<div class="row">
				源文件存储目录:<input type="text" value="D:\excelTool\upload\" id="srcFilePath" name="srcFilePath" />
			</div>

			<div class="row">
				模版存储目录：<input type="text" value="D:\excelTool\template" readonly="readonly" />
			</div>

			<div class="row">
				目标文件存储目录:<input type="text" value="D:\excelTool\dest\" id="destFilePath" name="destFilePath" />
			</div>
			<div class="row">
				<input type="submit" value="转换"/>
			</div>
		</form>

	</div>

	<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
	<script th:src="@{/js/index.js}"></script>
</body>
</html>